.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.d-done{
    display: none;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.f-centered{
    justify-content: center;
    align-items: center;
}
.f-space-arround{
    justify-content: space-around;
}
.f-space-between{
    justify-content: space-between;
}